body{
    margin: 0px;
    padding: 0px;
}

#home {
  background-image: url("/images/spotify-background.jpeg");
  background-size: cover;
  padding: 0px;
  margin-top: 0px;
  min-height: 100vh;
  min-width: 100vw;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#artistbtn {
    border: none;
  color: white;
  margin-top: 5px;
  height: 20px;
  width: 180px;
  display: inline-block; 
  align-self: center;
  align-items: center;
 
  background-color: rgb(231, 76, 60);
  outline: 0;
cursor: pointer;

}

#form-container{
    display: flex;
    justify-content:center;
    align-content: center;
    padding: 500px;
}
input{
    width:300px;
    height: 20px;
    display:flex; 
    align-self: center;
}
form {
background-color: rgba(248, 249, 249, 0.494);
position: fixed;
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 500px;
  height: 90px;
}
